[package]
name = "kotoba"
version = "0.1.0"
edition = "2024"

[dependencies]
async-trait = "0.1"
futures-core = "0.3"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"
